# All files
*

# Except for
!.gitignore
!.inputrc
!.bashrc
!.profile
!.w3m/
!README.md
!.bash_profile
!.bash_aliases
!.ssh/
!.ssh/config
!.local/
!.local/bin
!.local/bin/hgt
!.local/bin/agp
!.local/bin/git-update-all
!.local/bin/hub-completion
!.local/bin/imgur
!.config/
!.gitconfig
!.ssh/authorized_keys
!.xinitrc
