*
# All files

# Git Repo stuff
!README.md
!.gitignore

# .local/bin Utilities
!.local/
!.local/bin
!.local/bin/agp
!.local/bin/git-cal
!.local/bin/agl
!.local/bin/agst
!.local/bin/git-update-all
!.local/bin/hgt
!.local/bin/imgur
!.local/bin/waittillup
!.local/bin/sortpics
!.local/bin/seadogbot

# Shell Environment Configurations
## zsh
!.zshrc
!.zshenv
!.omzcustom/
!.omzcustom/**
!.oh-my-zsh
## bash
!.bash_profile
!.bashrc
## others
!.inputrc
!.profile
## All of my universal aliases
!.aliases

# Utilities Configurations
## GNU screen
!.screenrc
## Git
!.gitconfig
## w3m
!.w3m/**
## others
!.config/

# Addons
## Pyenv
!.pyenv
## Hub
!.local/bin/hub-completion

# Miscellaneous Files
## Tmux Resurrect workspace
!.tmuxresurrect/
!.tmuxresurrect/**
.tmuxresurrect/last
