# All files
*

# Except for
!.gitignore
!.tmux.conf
!.inputrc
!.bashrc
!.profile
!.w3m/
!README.md
!.bash_profile
!.bash_aliases
!.ssh/
!.ssh/id_rsa.pub
!.ssh/config
!.local/
!.local/bin
!.local/bin/hgt
!.config/
!.config/powerline/
!.config/powerline/*
!.config/powerline/*/*
!.config/powerline/*/*/*
