[user]
	email = pcchou@pcchou.me
	name = Pc Chou
[core]
	editor = vim
[color]
	ui = true
[alias]
	lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	update-all = "git-update-all "
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[merge]
	tool = vimdiff2
